<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>各城市工作分析</title>
    <script src="__STATIC__/js/jquery-3.2.1.min.js"></script>
    <script src="__STATIC__/js/bootstrap.min.js"></script>
    <script src="__STATIC__/js/canvas-particle.js"></script>
    <script src="__STATIC__/js/jquery.autocompleter.js"></script>
    <link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="__STATIC__/css/index.css" type="text/css">
    <link rel="stylesheet" href="__STATIC__/css/jquery.autocompleter.css" type="text/css">


    <style>
        a{ text-decoration:none ;color: #FFFFFF; }
        a:hover{ text-decoration:none ;color: #FFFFFF; }
    </style>

</head>
<body>
<div class="header">
    <div class="header-right"> <a href="index"> <img src="__STATIC__/img/home.png" width="30px;"> HOME </a>  </div>
    <div class="header-left">

        <table >
            <tr>
                <td><a href="__STATIC__/../dowload.html"><span class="glyphicon glyphicon-cloud"></span>下载数据</a>  </td>
                <td><a href="https://github.com/jiangwei1995910/cityandjob"><span class="glyphicon glyphicon-font"></span>项目源码</a></td>
                <td><a href="__STATIC__/../about.html"><span class="glyphicon glyphicon-list-alt"></span>关于数据</a></td>

            </tr>

        </table>

    </div>


</div>


<div class="container">

    <!-- 背景div -->
    <div id="mydiv" style="height:550px;">
        <form action="/jobinfo/public/index.php/index/index/content.html" method="post">

        <div id="search">
            <div id="text">搜索你感兴趣的城市、工作</div>
            <table id="scan">

                    <tr><td> <input name="post" type="text" id="post" class="form-control" placeholder="职位关键字，尽量简洁，例如：java,销售"></td></tr>
                    <tr><td><input name="city" class="form-control" type="text" id="city" placeholder="城市名"></td></tr>
                    <tr><td><input class="btn btn-success" type="submit" id="sub" value="搜一搜"></td></tr>

            </table>

        </div>

        </form>

    </div>
    <script type="text/javascript">
        var data = [
            {"value":"鞍山","label":"鞍山"},
            {"value":"安阳","label":"安阳"},
            {"value":"安庆","label":"安庆"},
            {"value":"安康","label":"安康"},
            {"value":"阿克苏","label":"阿克苏"},
            {"value":"北京","label":"北京"},
            {"value":"保定","label":"保定"},
            {"value":"包头","label":"包头"},
            {"value":"滨州","label":"滨州"},
            {"value":"宝鸡","label":"宝鸡"},
            {"value":"蚌埠","label":"蚌埠"},
            {"value":"北海","label":"北海"},
            {"value":"巴中","label":"巴中"},
            {"value":"巴彦淖尔市","label":"巴彦淖尔市"},
            {"value":"亳州","label":"亳州"},
            {"value":"白城","label":"白城"},
            {"value":"白山","label":"白山"},
            {"value":"保山","label":"保山"},
            {"value":"成都","label":"成都"},
            {"value":"重庆","label":"重庆"},
            {"value":"长沙","label":"长沙"},
            {"value":"常州","label":"常州"},
            {"value":"长春","label":"长春"},
            {"value":"沧州","label":"沧州"},
            {"value":"昌吉","label":"昌吉"},
            {"value":"赤峰","label":"赤峰"},
            {"value":"常德","label":"常德"},
            {"value":"郴州","label":"郴州"},
            {"value":"承德","label":"承德"},
            {"value":"长治","label":"长治"},
            {"value":"池州","label":"池州"},
            {"value":"滁州","label":"滁州"},
            {"value":"朝阳","label":"朝阳"},
            {"value":"潮州","label":"潮州"},
            {"value":"楚雄","label":"楚雄"},
            {"value":"巢湖","label":"巢湖"},
            {"value":"大连","label":"大连"},
            {"value":"东莞","label":"东莞"},
            {"value":"德阳","label":"德阳"},
            {"value":"大理","label":"大理"},
            {"value":"德州","label":"德州"},
            {"value":"东营","label":"东营"},
            {"value":"大庆","label":"大庆"},
            {"value":"丹东","label":"丹东"},
            {"value":"大同","label":"大同"},
            {"value":"达州","label":"达州"},
            {"value":"定州","label":"定州"},
            {"value":"定西","label":"定西"},
            {"value":"鄂尔多斯","label":"鄂尔多斯"},
            {"value":"恩施","label":"恩施"},
            {"value":"鄂州","label":"鄂州"},
            {"value":"佛山","label":"佛山"},
            {"value":"福州","label":"福州"},
            {"value":"阜阳","label":"阜阳"},
            {"value":"抚顺","label":"抚顺"},
            {"value":"阜新","label":"阜新"},
            {"value":"抚州","label":"抚州"},
            {"value":"防城港","label":"防城港"},
            {"value":"广州","label":"广州"},
            {"value":"贵阳","label":"贵阳"},
            {"value":"桂林","label":"桂林"},
            {"value":"赣州","label":"赣州"},
            {"value":"广安","label":"广安"},
            {"value":"贵港","label":"贵港"},
            {"value":"广元","label":"广元"},
            {"value":"杭州","label":"杭州"},
            {"value":"合肥","label":"合肥"},
            {"value":"哈尔滨","label":"哈尔滨"},
            {"value":"海口","label":"海口"},
            {"value":"惠州","label":"惠州"},
            {"value":"邯郸","label":"邯郸"},
            {"value":"呼和浩特","label":"呼和浩特"},
            {"value":"黄冈","label":"黄冈"},
            {"value":"淮南","label":"淮南"},
            {"value":"黄山","label":"黄山"},
            {"value":"鹤壁","label":"鹤壁"},
            {"value":"衡阳","label":"衡阳"},
            {"value":"湖州","label":"湖州"},
            {"value":"衡水","label":"衡水"},
            {"value":"汉中","label":"汉中"},
            {"value":"淮安","label":"淮安"},
            {"value":"黄石","label":"黄石"},
            {"value":"菏泽","label":"菏泽"},
            {"value":"怀化","label":"怀化"},
            {"value":"淮北","label":"淮北"},
            {"value":"葫芦岛","label":"葫芦岛"},
            {"value":"河源","label":"河源"},
            {"value":"红河","label":"红河"},
            {"value":"哈密","label":"哈密"},
            {"value":"呼伦贝尔","label":"呼伦贝尔"},
            {"value":"济南","label":"济南"},
            {"value":"嘉兴","label":"嘉兴"},
            {"value":"吉林","label":"吉林"},
            {"value":"江门","label":"江门"},
            {"value":"荆门","label":"荆门"},
            {"value":"锦州","label":"锦州"},
            {"value":"景德镇","label":"景德镇"},
            {"value":"吉安","label":"吉安"},
            {"value":"济宁","label":"济宁"},
            {"value":"金华","label":"金华"},
            {"value":"揭阳","label":"揭阳"},
            {"value":"晋中","label":"晋中"},
            {"value":"九江","label":"九江"},
            {"value":"焦作","label":"焦作"},
            {"value":"晋城","label":"晋城"},
            {"value":"荆州","label":"荆州"},
            {"value":"佳木斯","label":"佳木斯"},
            {"value":"酒泉","label":"酒泉"},
            {"value":"鸡西","label":"鸡西"},
            {"value":"济源","label":"济源"},
            {"value":"昆明","label":"昆明"},
            {"value":"昆山","label":"昆山"},
            {"value":"开封","label":"开封"},
            {"value":"喀什","label":"喀什"},
            {"value":"克拉玛依","label":"克拉玛依"},
            {"value":"兰州","label":"兰州"},
            {"value":"廊坊","label":"廊坊"},
            {"value":"洛阳","label":"洛阳"},
            {"value":"柳州","label":"柳州"},
            {"value":"莱芜","label":"莱芜"},
            {"value":"六安","label":"六安"},
            {"value":"泸州","label":"泸州"},
            {"value":"丽江","label":"丽江"},
            {"value":"临沂","label":"临沂"},
            {"value":"聊城","label":"聊城"},
            {"value":"连云港","label":"连云港"},
            {"value":"丽水","label":"丽水"},
            {"value":"娄底","label":"娄底"},
            {"value":"乐山","label":"乐山"},
            {"value":"辽阳","label":"辽阳"},
            {"value":"拉萨","label":"拉萨"},
            {"value":"临汾","label":"临汾"},
            {"value":"龙岩","label":"龙岩"},
            {"value":"漯河","label":"漯河"},
            {"value":"凉山","label":"凉山"},
            {"value":"辽源","label":"辽源"},
            {"value":"绵阳","label":"绵阳"},
            {"value":"茂名","label":"茂名"},
            {"value":"马鞍山","label":"马鞍山"},
            {"value":"牡丹江","label":"牡丹江"},
            {"value":"眉山","label":"眉山"},
            {"value":"梅州","label":"梅州"},
            {"value":"南京","label":"南京"},
            {"value":"宁波","label":"宁波"},
            {"value":"南昌","label":"南昌"},
            {"value":"南宁","label":"南宁"},
            {"value":"南通","label":"南通"},
            {"value":"南充","label":"南充"},
            {"value":"南阳","label":"南阳"},
            {"value":"宁德","label":"宁德"},
            {"value":"内江","label":"内江"},
            {"value":"南平","label":"南平"},
            {"value":"攀枝花","label":"攀枝花"},
            {"value":"平顶山","label":"平顶山"},
            {"value":"盘锦","label":"盘锦"},
            {"value":"萍乡","label":"萍乡"},
            {"value":"濮阳","label":"濮阳"},
            {"value":"莆田","label":"莆田"},
            {"value":"普洱","label":"普洱"},
            {"value":"平凉","label":"平凉"},
            {"value":"青岛","label":"青岛"},
            {"value":"秦皇岛","label":"秦皇岛"},
            {"value":"泉州","label":"泉州"},
            {"value":"曲靖","label":"曲靖"},
            {"value":"齐齐哈尔","label":"齐齐哈尔"},
            {"value":"衢州","label":"衢州"},
            {"value":"清远","label":"清远"},
            {"value":"钦州","label":"钦州"},
            {"value":"庆阳","label":"庆阳"},
            {"value":"日照","label":"日照"},
            {"value":"上海","label":"上海"},
            {"value":"深圳","label":"深圳"},
            {"value":"苏州","label":"苏州"},
            {"value":"石家庄","label":"石家庄"},
            {"value":"沈阳","label":"沈阳"},
            {"value":"三亚","label":"三亚"},
            {"value":"绍兴","label":"绍兴"},
            {"value":"汕头","label":"汕头"},
            {"value":"十堰","label":"十堰"},
            {"value":"三门峡","label":"三门峡"},
            {"value":"三明","label":"三明"},
            {"value":"韶关","label":"韶关"},
            {"value":"商丘","label":"商丘"},
            {"value":"宿迁","label":"宿迁"},
            {"value":"绥化","label":"绥化"},
            {"value":"邵阳","label":"邵阳"},
            {"value":"遂宁","label":"遂宁"},
            {"value":"上饶","label":"上饶"},
            {"value":"四平","label":"四平"},
            {"value":"石河子","label":"石河子"},
            {"value":"顺德","label":"顺德"},
            {"value":"宿州","label":"宿州"},
            {"value":"松原","label":"松原"},
            {"value":"沭阳","label":"沭阳"},
            {"value":"石嘴山","label":"石嘴山"},
            {"value":"随州","label":"随州"},
            {"value":"朔州","label":"朔州"},
            {"value":"汕尾","label":"汕尾"},
            {"value":"天津","label":"天津"},
            {"value":"太原","label":"太原"},
            {"value":"泰州","label":"泰州"},
            {"value":"唐山","label":"唐山"},
            {"value":"泰安","label":"泰安"},
            {"value":"台州","label":"台州"},
            {"value":"铁岭","label":"铁岭"},
            {"value":"通辽","label":"通辽"},
            {"value":"铜陵","label":"铜陵"},
            {"value":"通化","label":"通化"},
            {"value":"武汉","label":"武汉"},
            {"value":"无锡","label":"无锡"},
            {"value":"威海","label":"威海"},
            {"value":"潍坊","label":"潍坊"},
            {"value":"乌鲁木齐","label":"乌鲁木齐"},
            {"value":"温州","label":"温州"},
            {"value":"芜湖","label":"芜湖"},
            {"value":"梧州","label":"梧州"},
            {"value":"乌海","label":"乌海"},
            {"value":"西安","label":"西安"},
            {"value":"厦门","label":"厦门"},
            {"value":"徐州","label":"徐州"},
            {"value":"湘潭","label":"湘潭"},
            {"value":"襄阳","label":"襄阳"},
            {"value":"新乡","label":"新乡"},
            {"value":"信阳","label":"信阳"},
            {"value":"咸阳","label":"咸阳"},
            {"value":"邢台","label":"邢台"},
            {"value":"孝感","label":"孝感"},
            {"value":"西宁","label":"西宁"},
            {"value":"许昌","label":"许昌"},
            {"value":"忻州","label":"忻州"},
            {"value":"宣城","label":"宣城"},
            {"value":"咸宁","label":"咸宁"},
            {"value":"西双版纳","label":"西双版纳"},
            {"value":"湘西","label":"湘西"},
            {"value":"烟台","label":"烟台"},
            {"value":"扬州","label":"扬州"},
            {"value":"宜昌","label":"宜昌"},
            {"value":"银川","label":"银川"},
            {"value":"阳江","label":"阳江"},
            {"value":"永州","label":"永州"},
            {"value":"玉林","label":"玉林"},
            {"value":"盐城","label":"盐城"},
            {"value":"岳阳","label":"岳阳"},
            {"value":"运城","label":"运城"},
            {"value":"宜春","label":"宜春"},
            {"value":"营口","label":"营口"},
            {"value":"榆林","label":"榆林"},
            {"value":"宜宾","label":"宜宾"},
            {"value":"益阳","label":"益阳"},
            {"value":"义乌","label":"义乌"},
            {"value":"玉溪","label":"玉溪"},
            {"value":"延边","label":"延边"},
            {"value":"郑州","label":"郑州"},
            {"value":"珠海","label":"珠海"},
            {"value":"中山","label":"中山"},
            {"value":"镇江","label":"镇江"},
            {"value":"淄博","label":"淄博"},
            {"value":"张家口","label":"张家口"},
            {"value":"株洲","label":"株洲"},
            {"value":"漳州","label":"漳州"},
            {"value":"湛江","label":"湛江"},
            {"value":"肇庆","label":"肇庆"},
            {"value":"枣庄","label":"枣庄"},
            {"value":"舟山","label":"舟山"},
            {"value":"遵义","label":"遵义"},
            {"value":"驻马店","label":"驻马店"},
            {"value":"自贡","label":"自贡"},
            {"value":"资阳","label":"资阳"},
            {"value":"周口","label":"周口"},
            {"value":"章丘","label":"章丘"},
            {"value":"张家界","label":"张家界"},
            {"value":"昭通","label":"昭通"},
            {"value":"中卫","label":"中卫"},
            {"value":"阿坝州","label":"阿坝州"},
            {"value":"崇州","label":"崇州"},
            {"value":"大邑","label":"大邑"},
            {"value":"都江堰","label":"都江堰"},
            {"value":"金堂","label":"金堂"},
            {"value":"彭州","label":"彭州"},
            {"value":"邛崃","label":"邛崃"},
            {"value":"栖霞","label":"栖霞"},
            {"value":"淳安","label":"淳安"},
            {"value":"富阳","label":"富阳"},
            {"value":"建德","label":"建德"},
            {"value":"临安","label":"临安"},
            {"value":"桐庐","label":"桐庐"},
            {"value":"常熟","label":"常熟"},
            {"value":"张家港","label":"张家港"},
            {"value":"铜梁","label":"铜梁"},
            {"value":"丰都","label":"丰都"},
            {"value":"长寿","label":"长寿"},
            {"value":"涪陵","label":"涪陵"},
            {"value":"南川","label":"南川"},
            {"value":"永川","label":"永川"},
            {"value":"綦江","label":"綦江"},
            {"value":"黔江","label":"黔江"},
            {"value":"万州","label":"万州"},
            {"value":"江津","label":"江津"},
            {"value":"合川","label":"合川"},
            {"value":"普兰店","label":"普兰店"},
            {"value":"平阴","label":"平阴"},
            {"value":"济阳","label":"济阳"},
            {"value":"商河","label":"商河"},
            {"value":"宜兴","label":"宜兴"},
            {"value":"江阴","label":"江阴"},
            {"value":"新密","label":"新密"},
            {"value":"新郑","label":"新郑"},
            {"value":"荥阳","label":"荥阳"},
            {"value":"登封","label":"登封"},
            {"value":"中牟","label":"中牟"},
            {"value":"巩义","label":"巩义"},
            {"value":"浏阳","label":"浏阳"},
            {"value":"宁乡","label":"宁乡"},
            {"value":"无极","label":"无极"},
            {"value":"辛集","label":"辛集"},
            {"value":"元氏","label":"元氏"},
            {"value":"平度","label":"平度"},
            {"value":"即墨","label":"即墨"},
            {"value":"胶南","label":"胶南"},
            {"value":"莱西","label":"莱西"},
            {"value":"周至","label":"周至"},
            {"value":"户县","label":"户县"},
            {"value":"蓝田","label":"蓝田"},
            {"value":"宁海","label":"宁海"},
            {"value":"象山","label":"象山"},
            {"value":"余姚","label":"余姚"},
            {"value":"慈溪","label":"慈溪"},
            {"value":"肥东","label":"肥东"},
            {"value":"肥西","label":"肥西"},
            {"value":"庐江","label":"庐江"},
            {"value":"长丰","label":"长丰"},
            {"value":"长乐","label":"长乐"},
            {"value":"福清","label":"福清"},
            {"value":"连江","label":"连江"},
            {"value":"平潭","label":"平潭"},
            {"value":"安宁","label":"安宁"},
            {"value":"宜良","label":"宜良"},
            {"value":"清镇","label":"清镇"},
            {"value":"辽中","label":"辽中"},
            {"value":"新民","label":"新民"},
            {"value":"进贤","label":"进贤"},
            {"value":"新建","label":"新建"},
            {"value":"溧阳","label":"溧阳"},
            {"value":"海宁","label":"海宁"},
            {"value":"平湖","label":"平湖"},
            {"value":"桐乡","label":"桐乡"},
            {"value":"嘉善","label":"嘉善"},
            {"value":"海阳","label":"海阳"},
            {"value":"莱阳","label":"莱阳"},
            {"value":"莱州","label":"莱州"},
            {"value":"龙口","label":"龙口"},
            {"value":"蓬莱","label":"蓬莱"},
            {"value":"招远","label":"招远"},
            {"value":"白沙县","label":"白沙县"},
            {"value":"儋州市","label":"儋州市"},
            {"value":"澄迈县","label":"澄迈县"},
            {"value":"定安","label":"定安"},
            {"value":"琼中","label":"琼中"},
            {"value":"屯昌","label":"屯昌"},
            {"value":"文昌市","label":"文昌市"},
            {"value":"德惠","label":"德惠"},
            {"value":"农安","label":"农安"},
            {"value":"榆树","label":"榆树"},
            {"value":"陵水","label":"陵水"},
            {"value":"琼海","label":"琼海"},
            {"value":"保亭","label":"保亭"},
            {"value":"万宁","label":"万宁"},
            {"value":"东方市","label":"东方市"},
            {"value":"博罗","label":"博罗"},
            {"value":"惠东","label":"惠东"},
            {"value":"龙门","label":"龙门"},
            {"value":"高碑店","label":"高碑店"},
            {"value":"昌邑","label":"昌邑"},
            {"value":"永登","label":"永登"},
            {"value":"榆中","label":"榆中"},
            {"value":"文安","label":"文安"},
            {"value":"孟津","label":"孟津"},
            {"value":"汝阳","label":"汝阳"},
            {"value":"新安","label":"新安"},
            {"value":"偃师","label":"偃师"},
            {"value":"伊川","label":"伊川"},
            {"value":"宜阳","label":"宜阳"},
            {"value":"宾阳","label":"宾阳"},
            {"value":"横县","label":"横县"},
            {"value":"海安","label":"海安"},
            {"value":"海门","label":"海门"},
            {"value":"启东","label":"启东"},
            {"value":"如东","label":"如东"},
            {"value":"如皋","label":"如皋"},
            {"value":"安溪","label":"安溪"},
            {"value":"惠安","label":"惠安"},
            {"value":"南安","label":"南安"},
            {"value":"石狮","label":"石狮"},
            {"value":"永春","label":"永春"},
            {"value":"晋安","label":"晋安"},
            {"value":"上虞","label":"上虞"},
            {"value":"诸暨","label":"诸暨"},
            {"value":"靖江","label":"靖江"},
            {"value":"泰兴","label":"泰兴"},
            {"value":"兴化","label":"兴化"},
            {"value":"开平","label":"开平"},
            {"value":"乐亭","label":"乐亭"},
            {"value":"滦南","label":"滦南"},
            {"value":"滦县","label":"滦县"},
            {"value":"迁安","label":"迁安"},
            {"value":"迁西","label":"迁西"},
            {"value":"玉田","label":"玉田"},
            {"value":"遵化","label":"遵化"},
            {"value":"安丘","label":"安丘"},
            {"value":"昌乐","label":"昌乐"},
            {"value":"高密","label":"高密"},
            {"value":"青州","label":"青州"},
            {"value":"寿光","label":"寿光"},
            {"value":"丰县","label":"丰县"},
            {"value":"沛县","label":"沛县"},
            {"value":"邳州","label":"邳州"},
            {"value":"睢宁","label":"睢宁"},
            {"value":"新沂","label":"新沂"},
            {"value":"宝应","label":"宝应"},
            {"value":"高邮","label":"高邮"},
            {"value":"江都","label":"江都"},
            {"value":"仪征","label":"仪征"},
            {"value":"当阳","label":"当阳"},
            {"value":"宜都","label":"宜都"},
            {"value":"枝江","label":"枝江"},
            {"value":"句容","label":"句容"},
            {"value":"丹阳市","label":"丹阳市"},
            {"value":"扬中市","label":"扬中市"},
            {"value":"恩平","label":"恩平"},
            {"value":"邹城","label":"邹城"},
            {"value":"邹平","label":"邹平"},
            {"value":"广饶","label":"广饶"},
            {"value":"肥城","label":"肥城"},
            {"value":"新泰","label":"新泰"},
            {"value":"临海","label":"临海"},
            {"value":"温岭","label":"温岭"},
            {"value":"玉环","label":"玉环"},
            {"value":"临清","label":"临清"},
            {"value":"肇源","label":"肇源"},
            {"value":"东海","label":"东海"},
            {"value":"德清","label":"德清"},
            {"value":"长兴","label":"长兴"},
            {"value":"滕州","label":"滕州"},
            {"value":"东台","label":"东台"},
            {"value":"建湖","label":"建湖"},
            {"value":"当涂","label":"当涂"},
            {"value":"海林","label":"海林"},
            {"value":"天长","label":"天长"},
            {"value":"宁国","label":"宁国"},
            {"value":"巴州","label":"巴州"}
        ];
        $(function () {
            $('input').autocompleter({
                // marker for autocomplete matches
                highlightMatches: true,

                // object to local or url to remote search
                source: data,

                // custom template
                template: '{{ label }}',

                // show hint
                hint: true,

                // abort source if empty field
                empty: false,

                // max results
                limit: 5,

                callback: function (value, index, selected) {
                    if (selected) {
                        $('.icon').css('background-color', selected.hex);
                    }
                }
            });
        });


        window.onload = function() {
            //配置
            var config = {
                vx: 4,	//小球x轴速度,正为右，负为左
                vy: 4,	//小球y轴速度
                height: 2,	//小球高宽，其实为正方形，所以不宜太大
                width: 2,
                count: 200,		//点个数
                color: "121, 162, 185", 	//点颜色
                stroke: "130,255,255", 		//线条颜色
                dist: 6000, 	//点吸附距离
                e_dist: 20000, 	//鼠标吸附加速距离
                max_conn: 10 	//点到点最大连接数
            }

            //调用
            CanvasParticle(config);
        }


        $("#mydiv").height((    $(window).height() -50 )    );

    </script>



</div>
</body>
</html>
